

fieldset {
    border: solid 1px #007bff;
    padding: 1em;
}

legend {
    color: #007bff;
    font-variant: small-caps;
}

h1{
    color: #007bff;
}

.error{
    color: red;
    visibility: hidden;
}

#buttons{
    display: none;
}
