
/*
.page-holder {
  min-height: 100vh;
}
*/

html {
    scroll-behavior: smooth;
}

.bg-cover {
    background-size: cover !important;
}

.myCard{
    width: 18rem;
}

.nav-link{
    color: black;
    font-size: 20px;
}

.myHr {
    width : 50%;
}

